<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "RecipeBox" %></h1>
  <p>The Finest Recipe Organization System on the Web</p>
</section>

<img src="<%= Routes.static_path(@conn, "/images/chef_computer.jpg") %>" alt="Chef's hand reaching out of computer, holding cooking tools."/>


